<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.saber.kyc.dto.Person" >
        <property name="firstName" value="saber"/>
        <property name="lastName" value="azizi"/>
        <qualifier value="p1" />
    </bean>

    <bean class="com.saber.kyc.dto.Person" >
        <property name="firstName" value="bruce"/>
        <property name="lastName" value="lee"/>
        <qualifier value="p2" />
    </bean>
</beans>